/* Fonts from Google Fonts - more at https://fonts.google.com 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
}
  
.nav {
  font-family: "Work Sans";
  font-weight: 600;
  order: -1;
  padding: 1em;
  background: rgba(15,14,78,1);
  background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
  background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  padding: 1em;
  background: #eaeaea;
  text-align: center;
}

.aside {
  padding: 1em;
  text-align: center;
  background: rgb(224, 220, 199);
}

.fa {
  color: #ffffff;
  padding: 0 8px 0 8px;
}

.top-bar {
  text-align: center;
  padding: 10px;
  background-color: #888;
}

.social-media {
  margin: 5px;
}

.top-bar {}

.top-bar-title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.top-bar-title, .fa {
  display: inline-block;
  float: left;
}

.top-bar-about a:-webkit-any-link{
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  padding: 1em;
  background: #333;
}

.footer, .footer-content a:-webkit-any-link {
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 30em) {
  .main {
    flex: 1 0 auto;
  }
}
/*------------------------------------------------*/

nav ul {
	display: flex; 
	flex-wrap: wrap;  
	margin: 0 auto;		
  background: rgb(161, 161, 161);
  list-style: none;
  text-transform: uppercase;
}
nav ul, nav li {
	flex: 1;	
}
nav li:last-child {
   border-bottom: none;
}

/* Navigation font */
nav a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.2rem;
}


nav a:hover {
	background: #adacac;
	color: #fff;
}
nav li {
	position: relative;
	line-height: 50px;
	color: #fff;
	text-align: center;
}  
nav input,
nav label {
	display: none;
	width: 36px; 
	height: 36px; 
	background: #555; 
	color: #fff; 
	text-align: center; 
	line-height: 36px;
	font-size: 22px;
	border-radius: 2px;
} 
nav label {
   position: absolute; 
   top: 8px; 
   right: 8px; 
   transition: .4s;
}
nav label:hover {cursor:pointer;}
nav label:before {
	font-family: FontAwesome;
	font-size: 24px;
	content: "\f0c9";
	text-align: center;
}

/************* MEDIA QUERIES **************/

@media only screen and (max-width: 1080px){
   nav {
      position: relative;
   }
	nav ul {
		transform: translateY(-120%);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
    transition: all .5s;
    position: absolute;
    width: auto;
    margin: auto;
  }
  
	nav li {
		flex: none; 
		width: 100%;
		border-bottom: solid 1px #777;
  }

	nav input[type="checkbox"]:checked + ul  {
    transform: translateY(0%);
    width: auto;
    margin-left: 10%;
    margin-right: 10%; 
    transition: all .5s;
  }
  
	nav label{
    display: block;
  }  
  
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #0e164e; 
		color: #fff;
	}  
}