/*
Author: Roland Udvarlaki

Note: Visit http://www.techusiast.com for Technology News, Reviews and Analysis

All Rights Reserved - Credits given to their representative authors.
----------------------------------------
Fonts from Google Fonts - more at https://fonts.google.com 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');*/


/* ----------LOGO START---------- */
.website-logo {
  width: 250px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 0;
  float: left;
}

.website-logo1 {
 display: block;
 margin: auto;
 width: 350px; 
}

.website-logo-footer {
  display: block;
  margin: auto;
  width: 200px;
}

/* ----------LOGO END---------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

@media (max-width: 30em) {
  .main {
    flex: 1 0 auto;
    padding: 10px 5px 10px 5px;
  }
}

@media (min-width: 480px) {
  .main {
    /*padding-top: 10%; for fixed nav/top bar */
    padding: 1em;
    margin: 0;
  }
}

.main {
  /*padding-top: 160px; for fixed nav/top bar */
  background: #fff;
  text-align: left;
}

.aside {
  padding: 1em;
  text-align: center;
  background: rgb(224, 220, 199);
}

.fa {
  color: #ffffff;
  padding: 0 6px 0 6px;
}

.top-bar {
  text-align: center;
  padding: 10px;
  background: rgba(15,14,78,1);
  background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
  background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
}

.social-media {
  margin: 0;
  width: 100%;
}

.top-bar-title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.top-bar-title, .fa {
  display: inline-block;
  float: left;
}

.top-bar-about a{
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.top-bar-about a:hover {
  font-weight: 600;
}

/* ----------FOOTER START---------- */

.footer {
  padding: 1em;
  background: #333;
}

.footer, .footer-content a:-webkit-any-link {
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.social-media-footer {
  display: block;
  margin: auto;
  padding-left: 5px;
  font-size: 30px;
  width: 200px;
}


/* ----------FOOTER END---------- */

/* ----------CONTENT START---------- */
/* Source/forked from: https://codepen.io/machal/pen/wobjoq */

.background-1 {
  background-color: #eaeaea;
  border-radius: 10px;
}

.welcome-message {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

/* Images in content */

.col-1-img {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 10px 8px 30px 3px;
}

.col-1-img:hover {
  box-shadow: 10px 10px 30px 8px;
}

.col-1-title {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

/* Layout: */

.col-main {
  flex: 1;  
}  

.col-complementary {
flex: 1;  
}

/* Responsive: */

@media (min-width: 1175px) {
.layout {
  display: flex;
}
}

/* etc */

.container {
max-width: 100%;
margin-right: auto;
margin-left: auto;
}

.col {
padding: 1em;
margin: 0 2px 2px 0;
background: transparent;
}



/* ----------CONTENT END---------- */

/*------------------------------------------------*/

/* Navigation bar source/forked from: https://codepen.io/mutedblues/pen/MmPNPG */
  /* Navigation Header */

  .nav {
    font-family: "Work Sans";
    font-weight: 600;
    order: -1;
    padding: 1em;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    z-index: 3;
    background: rgba(15,14,78,1);
    background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
    background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
    text-decoration: none;
  }

  .nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 18px;
  }

  /* For a fixed top/nav bar 
  .nav {
    position: fixed;
    width: 100%;
    padding-bottom: 0;
  }

  .top-bar {
    position: fixed;
    width: 100%;
    padding-top: 6em;
    padding-bottom: 5px;
  }*/

  .nav li a:hover,
  .nav .menu-btn:hover {
    color: #fff;
    font-weight: 800;
    background-color: #f0f0f027;
    border-radius: 7px;
  }
  
  /* logo */
  .nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 30px;
    text-decoration: none;
  }

  .logo {
    color: #fff;
  }
  
  /* menu */
  
  .nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
  }
  
  .nav .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .nav .menu-btn {
    display: none;
  }
  
  .nav .menu-btn:checked ~ .menu {
    max-height: 500px;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  /* 76em = 1216px */
  
  @media (min-width: 1275px) {
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }
  }
  