/*
Author: Roland Udvarlaki

Note: Visit http://www.techusiast.com for Technology News, Reviews and Analysis

All Rights Reserved - Credits given to their representative authors.
----------------------------------------
Fonts from Google Fonts - more at https://fonts.google.com 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');*/


/* ----------LOGO START---------- */
.website-logo {
  width: 250px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 0;
  float: left;
}

.website-logo1 {
 display: block;
 margin: auto;
 width: 350px; 
}

.website-logo-footer {
  display: block;
  margin: auto;
  width: 200px;
}

/* ----------LOGO END---------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

@media (max-width: 30em) {
  .main {
    flex: 1 0 auto;
    padding: 10px 5px 10px 5px;
  }
}

@media (min-width: 480px) {
  .main {
    /*padding-top: 10%; for fixed nav/top bar */
    padding: 0;
    margin: 0;
  }
}

.main {
  /*padding-top: 160px; for fixed nav/top bar */
  background: #fff;
  text-align: left;
}

.aside {
  padding: 1em;
  text-align: center;
  background: rgb(224, 220, 199);
}

.fa {
  color: #ffffff;
  padding: 0 6px 0 6px;
}

.top-bar {
  text-align: center;
  padding: 10px;
  background: rgba(15,14,78,1);
  background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
  background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
}

.social-media {
  margin: 0;
  width: 100%;
}

.top-bar-title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.top-bar-title, .fa {
  display: inline-block;
  float: left;
}

.top-bar-about a{
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.top-bar-about a:hover {
  font-weight: 600;
}

/* ----------FOOTER START---------- */

.footer {
  padding: 1em;
  background: #333;
}

.footer, .footer-content a:-webkit-any-link {
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.social-media-footer {
  display: block;
  margin: auto;
  padding-left: 5px;
  font-size: 30px;
  width: 200px;
}


/* ----------FOOTER END---------- */

/* ----------CONTENT START---------- */
/* Source/forked from: https://codepen.io/machal/pen/wobjoq */

.background-1 {
  background-color: #eaeaea;
  border-radius: 15px;
}

.header-top {
padding-bottom: 15px;
}

.meet-team, .contact-before {
  font-size: 36px;
  font-family: "Work Sans";
  font-weight: 800;
  text-align: center;
}

.team-par, .contact-par {
  font-size: 26px;
  font-family: "Work Sans";
  font-weight: 500;
  text-align: center;
}

.contact-col {
  padding-top: 35px;
  padding-bottom: 35px;
}

.contact-phone {
  text-decoration: none;
  font-size: 42px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 600;
  text-align: center;
  color: rgb(189, 29, 181);
  text-shadow: 1px 1px 2px purple;
}

.contact-phone:hover {
  color: rgb(192, 9, 119);
  text-shadow: 2px 2px 2px pink;
}

/* Contact Form */

/*.contact-form {
  background: rgba(15,14,78,1);
  background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
  background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input[type=text],
input[type=message],
input[type=subject],
input[type=tel],
input[type=email], select, textarea {
  float: right;
  width: 80%;
  padding: 10px;
}

input[type=message], select, textarea {
  height: 80px;
}


#form {
  min-width:400px;
  max-width:1000px;
  height: 560px;
  margin:auto;
  font-family: sans-serif;
}

.contact-form-title {
  padding-top: 30px !important;
  color: #fff !important;
  font-size: 40px !important;
  font-weight: 800;
  text-align: center;
}

#form h2 {
  padding: 10px;
  color:#fff;
  font-size:16px;
  margin:0;
  text-transform: uppercase;
}

#form p {
  text-transform: initial;
  padding: 10px;
  font-size:15px;
  color:#222222;
}

#form button {
  width: 100px;
  height: 50px;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor:pointer;
  border-color: transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 1px grey;
}

.contact-button {
  display: block;
  text-align: center;
  margin-top: 70px;
}

#form button:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  font-weight: bold;
}

.required {
  font-size: 18px;
  color:#dd6666;
}

/* Images in content */

.col-1-img {
  display: block;
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 10px 8px 30px grey;
}

@media (min-width: 850px) {
  .col-1-img {
    width: 250px;
    height: 250px;
  }
}

.col-1-img:hover {
  box-shadow: 10px 10px 30px 3px;
}

.col-1-title {
  text-align: center;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 700;
}*/

/* ------------------------------NEW CONTACT --------------------------- */
/* Source/Forked from: https://codepen.io/rexkirby/pen/Fdnlz */

#feedback-page{
	text-align: center;
}

#contact-form-title-top {
  font-style: "Work Sans";
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

#form-main{
  width:100%;
  margin: auto;
  padding-top:30px;
  padding-bottom: 30px;
  background: rgba(15,14,78,1);
  background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
  background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
  padding: 20px;
	padding-bottom:50px;
	width: 40%;
  margin: auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #fff;
	color: #000;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(https://image.flaticon.com/icons/svg/74/74472.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(https://image.flaticon.com/icons/svg/74/74472.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(https://image.flaticon.com/icons/svg/126/126516.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(https://image.flaticon.com/icons/svg/650/650143.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(https://image.flaticon.com/icons/svg/650/650143.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#tel {
  background-image: url(https://image.flaticon.com/icons/svg/9/9243.svg);
  background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: rgb(189, 29, 181); solid 4px;
	cursor:pointer;
	background-color: rgb(189, 29, 181);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: bold;
}
	
.submit:hover {
	color: #000;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
    margin: auto;
		width: 90%;
		padding-left: 2%;
		padding-right: 2%;
	}
}

/* Layout: */

.col-main {
  flex: 1;  
}  

.col-complementary {
flex: 1;  
}

/* Responsive: */

@media (min-width: 1175px) {
  .layout {
    display: flex;
  }
}

/* etc */

.container {
max-width: 100%;
margin-right: auto;
margin-left: auto;
}

.col {
padding: 1em;
margin: 0 2px 2px 0;
background: transparent;
}



/* ----------CONTENT END---------- */

/*------------------------------------------------*/

/* Navigation bar source/forked from: https://codepen.io/mutedblues/pen/MmPNPG */
  /* Navigation Header */

  .nav {
    font-family: "Work Sans";
    font-weight: 600;
    order: -1;
    padding: 1em;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    z-index: 3;
    background: rgba(15,14,78,1);
    background: -moz-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,14,78,1)), color-stop(100%, rgba(249,7,132,1)));
    background: -webkit-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -o-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    background: linear-gradient(45deg, rgba(15,14,78,1) 0%, rgba(249,7,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e4e', endColorstr='#f90784', GradientType=1 );
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
    text-decoration: none;
  }

  .nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 18px;
  }

  /* For a fixed top/nav bar 
  .nav {
    position: fixed;
    width: 100%;
    padding-bottom: 0;
  }

  .top-bar {
    position: fixed;
    width: 100%;
    padding-top: 6em;
    padding-bottom: 5px;
  }*/

  .nav li a:hover,
  .nav .menu-btn:hover {
    color: #fff;
    font-weight: 800;
    background-color: #f0f0f027;
    border-radius: 7px;
  }
  
  /* logo */
  .nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 30px;
    text-decoration: none;
  }

  .logo {
    color: #fff;
  }
  
  /* menu */
  
  .nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
  }
  
  .nav .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .nav .menu-btn {
    display: none;
  }
  
  .nav .menu-btn:checked ~ .menu {
    max-height: 500px;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  /* 76em = 1216px */
  
  @media (min-width: 1275px) {
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }
  }
  